<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div>
    <h3 th:text="|Wybierz kategorię produktów:|"></h3>
    <div th:each="category: ${productCategories}"><a th:href="@{|/lista?kategoria=${category}|}">
        <p th:text="${category}"></p>
    </a>
    </div>
    <div><a th:href="@{|/lista?kategoria=|}"><p th:text="|wszystkie produkty|"></p></a></div>
</div>
</body>
</html>